<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Anime &amp; Manga Club</string>
		<key>Meet</key>
		<string>Thursdays &amp; Fridays</string>
		<key>Contact</key>
		<string>aliem@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The purpose of the Punahou Anime &amp; Manga Club is to provide a gathering place for members with similar interests, broaden members&apos; cultural experience by exposing them to anime now well known in the United States and to have fun. The club also lends personally owned manga to the middle school Manga Club and to other members. Meetings are held on Thursdays and Fridays. Members socialize on Thursdays and view anime on Fridays.</string>
		<key>Favorites</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Astronomy Club</string>
		<key>Meet</key>
		<string>One Friday a month</string>
		<key>Contact</key>
		<string>tcoke@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>To stimulate an interest in astronomy and to offer opportunities to participate in the joy of star gazing.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Baking Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>mkaya@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>This club will serve as an introduction to cooking/baking on our own. We&apos;ll talk about techniques, and recipes, and things that we did wrong, and also things that were successes. We&apos;ll talk, laugh, discuss, have a great time, and learn about the art of baking.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bible Study Fellowship</string>
		<key>Contact</key>
		<string>dsweeney@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>This club gives students a chance to fellowship together and apply Biblical lessons to their lives. Occasionally the group will have off campus activities such as hiking or beach Saturdays. We also find a way each year the group can contribute to a local charity through small donations of money or time.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bio Blitz</string>
		<key>Contact</key>
		<string>gpeiterson@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Bio Blitz is a 24-hour survey of all organisms in a given area. This event is done all over the world and has been done at Punahou since 2007. In our Bio Blitz, we work with UH and have so far collected over 500 specimen. We do this event once in the spring and once in the summer as part of the freshman biology class as they experience real field work by catching, documenting, and pinning insects. This group will benefit both the freshman biology classes and Bio Blitz members by brining awareness to the environment and to the diversity of the planet.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Book Club</string>
		<key>Meet</key>
		<string>Mondays @3:35pm A 213</string>
		<key>Contact</key>
		<string>pbarraza@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The Book Club is about spreading the love for reading and learning throughout the school. Not only are we going to incorporate reading specific books and talking about the issues of the book, we will volunteer in this club and do various DIY activities during the club. We could also have a &quot;donate your book&quot; day where we ask fellow students to donate their books to hospitals, charities, etc. We will eat pizza, watch movies based on democracy-voted books we read.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chinese Club</string>
		<key>Contact</key>
		<string>lchang-blust@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The goal of the Chinese Club is for members to be able to merge their interest in Chinese culture with their ability to make an impact in our community. The Chinese club is a group for those interested in Chinese culture and community service. You don&apos;t have to be Chinese or know how to speak Chinese to join!</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Club Aloha</string>
		<key>Contact</key>
		<string>mkaya@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The goal of this club is to give back to the community especially on the issue of homelessness. The purpose of this club is to allow fellow classmates and students to become more aware of this issue. This club is dedicated to doing services and fundraisers for the Institute of Human Services. We will do fundraisers such as car washes or bake sales to donate to IHS. We will also try to go over to the shelters and volunteer.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Club DaKind</string>
		<key>Contact</key>
		<string>tyamamoto-edwards@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Favorites</key>
		<string>0</string>
		<key>Description</key>
		<string>Club DaKind is a club dedicated to creating and organizing community service projects that interest our fellow classmates. We work with the Luke Center for Public Service by adopting the school wide initiatives and providing more opportunities for students to get involved with these initiatives. One of our goals is to raise intuition in different fields of youth interest; another goal of ours is to show that community service is very easy to participate in as well as loads of fun!</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Club Organics</string>
		<key>Contact</key>
		<string>anelson@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Our primary focus is to garden on our Punahou campus. We will foster an awareness of where our food comes from, and how it is grown. Hopefully this club will inspire others to create their won projects, such as growing food at home.Since food supply is currently a huge problem, especially in Hawaii, we hope to have a small part in encouraging the green movement.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cooking Club</string>
		<key>Contact</key>
		<string>mbassford@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>To explore the different styles and ethnic cuisines in preparation for future and necessary responsibilities in college. Through experimentation of a variety of recipes and an environment with new people, Cooking Club members have the opportunity to make friends outside of usual classes, provided by the many club activities. As club members, we will strive to get adjusted to taking care of ourselves, as well as the community by participating in community services as a group.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cycling Club</string>
		<key>Contact</key>
		<string>koneil@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>To explore the different styles and ethnic cuisines in preparation for future and necessary responsibilities in college. Through experimentation of a variety of recipes and an environment with new people, Cooking Club members have the opportunity to make friends outside of usual classes, provided by the many club activities. As club members, we will strive to get adjusted to taking care of ourselves, as well as the community by participating in community services as a group.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>East Asian Visual Culture Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>ateshigahara@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The goal of our club is to encourage interest in East Asian culture and language through media (mainly dramas). The club will serve the Punahou community through culture presentations in Japanese classrooms, serve the community by volunteering in various cultural festivals, and serve its members by providing a good place for people with interest in Asian media to meet.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Easter Seals</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>jduncan@punahou.edu</string>
		<key>Members</key>
		<string>NO</string>
		<key>Description</key>
		<string>Easter Seals Club is a community of Punahou students dedicated to helping contribute to the Easter Seals program of Hawaii. This program provides support to adults and children with autism and physical disabilities around Oahu. Our club participates with the annual Easter Seals Gingerbread Festival, as well as events put on by our club members, such as our Halloween and Easter party which works directly with the members of the &quot;greater Oahu division&quot;.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Enviromental Surf Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>iearle@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>To help and protect the ocean through action while having fun.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>European Food Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>mpavich@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The purpose, or goal, of this club is to immerse people, not necessarily Caucasians, in the European/Caucasian cultures. We are going to cook food, learn about different cultures and learn a little bit of language.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fellowship of Christian Athletes</string>
		<key>Contact</key>
		<string>Kcockett@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The club will give students and athletes a venue for support and an avenue to express their faith together through worship, fellowship, and service.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Filipino Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>Mskinner@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>To bring awareness to the Filipino community around the island and in the Philippines. To celebrate Filipino culture in Hawaii. To share food, introduce Filipino traditions, do charity activates for schools in the Philippines.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Film Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>Sdare@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The purpose of the Film Club is to provide members, faculty and the community with cultural enrichment through cinema, discussion and good food. The Club meets once a week (usually) to watch films both new and classic. Sometimes, faculty members serve as guest speakers, introducing their favorite films to interested students.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>French Club</string>
		<key>Contact</key>
		<string>Cligner@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>French Club is a club dedicated to promoting French culture throughout Punahou School. We eat French food, watch French films, celebrate French holidays, play French games, and learn about French culture.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gay-Straight Alliance</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>Alazzara@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Punahou GSA provides a safe and nurturing environment for LGBT students and creates positive relations between all students, regardless of sexual preference or gender identity.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Go Club</string>
		<key>Contact</key>
		<string>bJohnson@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The purpose of the club is to enrich students&apos; understanding and appreciation for the game of Go.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Habitat For Humanity</string>
		<key>Contact</key>
		<string>landerson@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Learn about and assist Honolulu Habitat for Humanity 1. in their mission of increasing &quot;access to affordable housing as a foundation for breaking the cycle of poverty&quot; 2. action projects of building or preserving homes 3. fundraising projects (volunteer hours, donate goods, no money collected, all events sponsored by Habitat off campus)</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hafu/Nipponjin Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>dbrunner@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>This club fosters a community of bilingual and bicultural Japanese students. The club will primarily function in Japanese and will place a big emphasis on contemporary Japanese pop culture.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hale Hawaii Club</string>
		<key>Contact</key>
		<string>mBassford@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The goal of Hale Hawaii is to assist eligible families in the Next Step homeless shelter transition into a home. We will accomplish this goal by locating suitable dwellings for families, assisting the families in taking necessary steps to rent the homes and raising funds to lend to the families for their security deposits and first month&apos;s rents. We will raise funds mainly through an online platform., halehawaii.org, through which people will lend money to the individual families, but also through various fundraisers. Members of the club will work to promote the lending program, raise funds, assist the Next Step homeless shelter in their initiatives, and interact with the families to get them into a home.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>HIPPO Club</string>
		<key>Contact</key>
		<string>Tom Gammarino</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Our goal is to not only promote global awareness and relations between Punahou and a diverse set of nations, but to also foster international friendships. As a secondary goal, we would like to promote the use of a pencil and paper to appreciate and preserve the anticipation and excitement of our world&apos;s very first means of communication.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>HUGS</string>
		<key>Contact</key>
		<string>tgammarino@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>HUGS is an organization that sets out to help children (and their families) who have life-long illnesses. Our club will work hand in hand with HUGS by performing various service projects which will bring more awareness to HUGS and their purpose. This club will give its members the opportunity to serve and interact with the kids. It will also enable/encourage Punahou members to be more involved with our community.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Interact Club</string>
		<key>Contact</key>
		<string>ksmith@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>We will work with Rotary on their community service projects as they arise. We will offer monthly opportunities to help others, learn leadership skills, and meet new people.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>INK</string>
		<key>Contact</key>
		<string>jsinger13@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Club INK&apos;s purpose is to allow students with an interest in creative writing, poetry, reading, writing and English in general to share creative ideas and discussion about related topics. Club INK will allow it&apos;s members to express themselves and think creatively during open mic opportunities where all members are invited to share. Club INK will be entirely student-led with meeting topics flexible and fun covering a wide breadth of English-related activities and fun. A close tie with similar clubs, such as Speech and Debate Team and the Slam Poetry club would also be entirely possible and welcomed. In short, Club INK will serve as a safe, fun, relaxed outlet for expressive and curious minds to explore the realms of fantasy, fiction , and beyond.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Japanese Okinawin Club</string>
		<key>Contact</key>
		<string>jasato@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The goals of the Japanese-Okinawan Club are: to give Punahou students a chance to socialize and meet fellow students, experience new and exciting cultural activities, and to volunteer in the Japanese and Okinawan communities - all while having fun and getting immersed in the Japanese and Okinawan cultures. Ultimately, our club hopes to spark an interest and awareness of the Japanese and Okinawan cultures in students, leading them to further cultural exploration and enrichment.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Key Club</string>
		<key>Meet</key>
		<string>Cornell Lecture Hall during long homeroom</string>
		<key>Contact</key>
		<string>jchan13@punahou.edu</string>
		<key>Members</key>
		<string>Full</string>
		<key>Description</key>
		<string>We go out into our homes, schools, and communities to conduct service for our nation and God (our pledge). We conduct general meetings every month and 3-5 service projects with our members each month.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Korean Culture Club</string>
		<key>Contact</key>
		<string>sfranz@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>To share/explore Korean culture (music, movies, language, making food, clothing) with others. Fundraise money for Korean charity groups, volunteer and donate. Make food, watch movies, learn the language, do arts, and learn about Korean pop culture.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ku&apos;l&apos;ai Club</string>
		<key>Contact</key>
		<string>DItagaki@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>This club will be rooted in Hawaiian culture and moving towards a sustainable future by going back to the days of old where poi and pai&apos;ai were the main food sources of our people. Students will interact with each other, learn how to pound and make poi/pai&apos;ai no matter their background or experience. In the club, members will eat what they make, learn more about Hawaii, and also learn healthy, delicious recipes using Kalo, poi, pa&apos;i&apos;ai.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>LINK (Liberty in North Korea)</string>
		<key>Contact</key>
		<string>kpark13@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Liberty in North Korea seeks to raise awareness of the North Korean human rights crisis and raise funds to rescue a refugee. LINK is a nonprofit international organization that helps rescue and relocate North Korean refugees hiding in China, Russia, or surrounding countries and helps them re-establish a normal life in South Korea, the U.S. or other countries that are politically stable.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Math Team</string>
		<key>Contact</key>
		<string>abender@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The Math Team provides a place for students to come together to explore interesting math problems. The team represents Punahou at the monthly Oahu Math League math meets and the annual Math Bowl.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Meat Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>jBelli@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Don&apos;t sign up, just show up. No dues, just do. If you want real work done, call the Meat Club.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Medical Science Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>mKaya@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The purpose of our club will be to introduce students to the medical field and to expose them to new experiences that they may want to try out. The Medical Science club will be taking our members on tours of hospitals, the John A Burns School of Medicine, possible a cadaver lab at JABSOM and other places. We will also have guest speakers (who will most likely be doctors or med. students) come and talk to our club about what they do, and we will also be doing many different interactive and fun activities of our own, such as suturing, taking part in &quot;The Match&quot;, taking part in a Mass Triage, learning about medical ethics, volunteering at the Blood Drive and many other exciting things. We will also be volunteering in the community by visiting people in special needs centers.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Military History Club</string>
		<key>Contact</key>
		<string>eeads@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The Military History Club serves as an organization dedicated to celebrating and honoring the brave men and women who have served their country militarily. Our annual bento sale has raised $2000 for the Wounded Warrior Project, a group that serves injured soldiers.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ka Moana Fishing Club</string>
		<key>Contact</key>
		<string>mKaya@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Our goal is to not only share the joy of fishing with others, but to also educate our community about the dangers of overfishing, pollution, invasive species, etc. No matter how big the fish may be, we will always return it to the sea. We will also do a beach clean up at any spot we fish. We want to team up with a child and family services organization once a month and devote our time to sharing our love of fishing with children less fortunate then we are.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mock Trial</string>
		<key>Contact</key>
		<string>nkeller@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>Full</string>
		<key>Description</key>
		<string>Mock Trial is a club dedicated to the purpose of exposing students to the workings of the American court system in order to provide them with a deeper and broader understanding of how our legal system works. The primary activity of the club is to represent Punahou School at the annual Hawaii Mock Trial competition sponsored by the Hawaii Bar Association.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mud Club</string>
		<key>Contact</key>
		<string>mstaab14@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>We aim to provide a fun and comfortable place for beginners, professionals, and everybody in between to learn or practice their wheel throwing (ceramics) techniques.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ping Pong Club</string>
		<key>Contact</key>
		<string>lmedeiros@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Our goal is to teach and develop the fundamentals of table tennis to all our members in a friendly, non-competitive environment. Our club welcomes members of all skill and experience levels. Most of all, we wish for all our members to have fun.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Polynesian Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>mPavitch@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>We will acknowledge, appreciate and embrace the Polynesian culture. As members of this club we will perform acts of service and kindness while learning about the Polynesian culture. It&apos;s not a club for just Polynesians, it&apos;s a club for anyone who is interested in it and cares for other people and the culture.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Punahou Lacrosse Club</string>
		<key>Contact</key>
		<string>cdurso@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The mission of the Punahou Lacrosse club is to represent the Punahou school and community in the Aloha Youth Lacrosse Association. Our club&apos;s primary goal is to be a model team for AYLA in terms of sportsmanship, skill, competitive spirit an having fun while competing to win.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Punahou Music Club</string>
		<key>Contact</key>
		<string>amotet@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Share our gifts of music with the community through gathering once a month at a retirement home to play music for them.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Punavision</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>ybiersch@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The Punavision Club produces news journalism stories about the people, places, and events of Punahou School. These stories air on local community television and are posted on the Club&apos;s YouTube channel.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Raiders Club</string>
		<key>Contact</key>
		<string>Bob Takao</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The mission of the Raider Club is to provide realistic and exciting adventure training in a military-like field environment where highly motivated cadets can safely: 1. develop self-discipline, confidence and physical and mental endurance to meet any challenge with success 2. develop a spirit of teamwork, camaraderie and espirit-de-corps. 3. train to participate in highly competitive Raider competitions. 4. encourage and nurture others to do their best regardless of their ability.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Risky Buisness</string>
		<key>Contact</key>
		<string>eeads@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The mission of the club is to express ideas and concepts about business and economics. Members will be encouraged to open a dummy stock account where they can trade real timeish stocks with no downfall. It is a place where people with an interest in stocks can trade ideas and research on companies.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Robotics</string>
		<key>Meet</key>
		<string>Sundays 2-4 pm</string>
		<key>Contact</key>
		<string>evaraday13@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Our goal is to create a student centered team, which provides the most compelling engineering and technology experiences possible for high school students. The students in Robotics conduct community service activities on an annual basis; and collaborate and host workshops with robotics teams on Oahu.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rugby Club</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Contact</key>
		<string>cmaunkea@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The main goals for this club is to teach or help students become aware of rugby since rugby is not a well known sport in America. The club will be a place to hangout, meet new people, try/learn something new while staying healthy/active and just having fun!</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Russian Club</string>
		<key>Contact</key>
		<string>cackerman@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Students learn how to speak Russian. They learn about Russian culture and society.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Save the Ala Wai</string>
		<key>Contact</key>
		<string>mMacLeod@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>We will have meetings to discuss action plans for saving the Ala Wai and small clean ups we organize ourselves. We will make a Facebook group to organize clean ups and other activities. We hope to get a booth at the Sustainability Fair.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Science Bowl</string>
		<key>Meet</key>
		<string>3:30 on Thurs (till Jan)</string>
		<key>Contact</key>
		<string>zlee13@punahou.edu</string>
		<key>Members</key>
		<string>Full</string>
		<key>Description</key>
		<string>Sc...</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Service Learning Club</string>
		<key>Contact</key>
		<string>cAckerman@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>To assist the students, staff, and faculty of Jefferson Elementary in order to enhance the school and make it an even better place for learning. Our goal is to allow kids to further themselves to the best of their potential so they grow up as even better, more thoughtful, successful individuals in the future.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Slam Poetry Club</string>
		<key>Contact</key>
		<string>rmanayan13@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Punahou Slam Poetry Team encourages students to express themselves through performance poetry and writing. Members will be involved and encouraged to help in writing workshops, writing sessions, performance preparation, and a multitude of performance-related activities. We strive to foster creative expression as an outlet for students grade 9-12. Throughout the year the Punahou Slam Poetry Team, in association with Youth Speaks Hawaii, will participate in Scholastic Slam Tournaments, striving to extend our voices to a public audience.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Speech &amp; Debate Team</string>
		<key>Contact</key>
		<string>cHalbur@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>Full</string>
		<key>Description</key>
		<string>The Speech and Debate Team fosters critical thinking and oral communication skills in a personalized, collaborative, and nurturing environment.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sports R Us</string>
		<key>Contact</key>
		<string>pBarraza@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>One purpose of this club is to get other students more active by teaching them fun sports they may not know of yet. And also to provide an environment where one can try new sports without the added competition and commitment other school sports entail. Also, people who join this club will meet people of different grades but with similar interests.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Stay Clean Hawaii</string>
		<key>Contact</key>
		<string>dItagaki@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Stay Clean Hawaii aims to help preserve Hawaii&apos;s diverse environments and educate the members about the effects of trash in communities. We will organize cleanups around the island and volunteer at as many places as we can.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Student World Leaders</string>
		<key>Contact</key>
		<string>cReddy@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>Full</string>
		<key>Description</key>
		<string>SWL offers students opportunities to be better versed in global events and issues, and to discuss how these are important to appreciate in order to be a better 21st century citizen. The organization supports and participates in PAAC&apos;s World Quest, which brings students from around the state together. The organization is going to be more focused on activities that involve global service and perhaps participating with HELP (Hawaii Emerging Leaders Program) to discuss worldly issues.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tea Club</string>
		<key>Contact</key>
		<string>jchang13@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Drink Tea and free food with great people!</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tedx</string>
		<key>Contact</key>
		<string>TedxYouth@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>We hope to bring TED talks to the wider Punahou community, cultivate thoughtful discussion on social issues, and this year&apos;s theme, education and spark community interest in the TED event this year at Punahou.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tour Guides</string>
		<key>Meet</key>
		<string>December, January, Feburary</string>
		<key>Contact</key>
		<string>rclear13@punahou.edu</string>
		<key>Description</key>
		<string>Give tours to incoming students applying to punahou.</string>
		<key>Members</key>
		<string>Full</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>T.R.E.E</string>
		<key>Contact</key>
		<string>alazzara@punahou.edu</string>
		<key>Meet</key>
		<string>Not Scheduled</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The T.R.E.E. club is dedicated to the education of environmental eating practices (such as organic, local an vegetarian foods) and the encouragement of its members to find fun and easy ways to apply them to their everyday lives.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ultimate Club</string>
		<key>Meet</key>
		<string>Friday Afternoons @ Wo Field</string>
		<key>Contact</key>
		<string>dStrang@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>The goal of this club is to offer Punahou students an opportunity to have some good old fashioned fun and meet new friends. Playing ultimate Frisbee is a great workout and it also relieves stress. Members will enjoy the feeling of being in a club where everybody is treated equally. They will also be also be able to learn the skills and rules of ultimate, which will make them better players. We will meet almost every Friday afternoon at the field by Wo to play.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uke Club</string>
		<key>Meet</key>
		<string>M202</string>
		<key>Contact</key>
		<string>mJudge@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Great club sharing ukelele music around Punahou</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Well Being Club</string>
		<key>Meet</key>
		<string>Next Project at the Sustainability Fair</string>
		<key>Contact</key>
		<string>obarahal13@punahou.edu</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Promote aspects of well being on campus. Promoting sustainability initiatives - focusing on food, healthy food choices, organic and locally grown foods. Choose food for their nutritional value and energy. Have fundraisers which sell healthy food options and donate profits to charitable organizations.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Young Life</string>
		<key>Meet</key>
		<string>Every Friday M101 @5:30pm</string>
		<key>Contact</key>
		<string>p.younglife@gmail.com</string>
		<key>Members</key>
		<string>YES</string>
		<key>Description</key>
		<string>Young Life provides young, energetic role models that creatively come up with ridiculous games, songs, and activities to encourage students to let loose and have fun in a positive, healthy and safe way. Leaders are there to share and answer questions about how Christian faith has changed their lives.</string>
		<key>Favorites</key>
		<string>0</string>
	</dict>
</array>
</plist>
